*{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    color: #440a67;
    line-height: 2;
}

header{
    background-color: #e8d3ff;
    text-align: center;
}
.nav-photo{
    width: 150px;
    height: 150px;
}
h1{
    font-size: xx-large;
    color: #deecff;
    font-family: 'Pacifico', cursive;
    line-height: 3;
}

h3{
    font-weight: bolder;
}

p{
    line-height: 2;
}
.butterfly{
    top: 0;
    left: 10px;
    position: fixed;
    width: 150px;
    height: 200px;
}

main{
    background-color: #f3f8ff;
}
.Education , .Skills , .Hobbies{
    text-align: center;
    margin: 100px;
    padding: 30px;
}
body{
    background-color: #f3f8ff;
}
.Series{
    width:20%;
    margin: 0 auto;
}


ol{
    text-align: center;
    list-style-type:decimal-leading-zero;
}

.side-bar{
    width: 10%;
    height: 68%;
    position: fixed;
    bottom: 0;
}

.side-bar-options{
    line-height: 4;
    text-align: center;
}

.side-bar ul li{
    background-color: #93329e;
}

